
#project_nav
	%ul.nav_tabs
		%li{ :class => "h #{class_for_tab(:main)}"}
			= link_to '/main' do
				%span.tab Home
		%li{ :class => "h #{class_for_tab(:modules)}"}
			= link_to '/modules' do
				%span.tab Modules
		%li{ :class => "h #{class_for_tab(:added_modules)}"}
			= link_to '/added_modules' do
				%span.tab Added Modules
		%li{ :class => "h #{class_for_tab(:nsc_configs)}"}
			= link_to '/nsc_configs' do
				%span.tab Nexpose Consoles
		%li{ :class => "h #{class_for_tab(:general_configurations)}"}
			= link_to '/general_configurations' do
				%span.tab Configuration