<%= form_for(@remedy_ticket_config) do |f| %>
  <% if @remedy_ticket_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remedy_ticket_config.errors.count, "error") %> prohibited this remedy_ticket_config from being saved:</h2>

      <ul>
      <% @remedy_ticket_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mappings %><br />
    <%= f.text_area :mappings %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
