= javascript_include_tag 'nexpose_consoles'

#nexpose_consoles
	#overview
		%div{:id => "detailed", :class => "tab_panel"}
			=form_tag '/nsc_configs/destroy', :method => :delete, :name => 'nsc_config_form' do
				%div{:class => "stepLead", :style => "width: 100%;"}
					.step
						.btnRow
							%div{:class => "btn"}
								= link_to "Add a Nexpose Console", new_nsc_config_path, :class => "new"
						%h3 Added Modules
						.stepInfo
							%table{:class => "list"}
								%thead{:class => "list-table-header"}
									%th{:class => "checkbox"}
										= check_box_tag "all_nexpose_consoles", 1, false, {:class => 'master_checkbox'}
									%th Host
									%th User
									%th Port
									%th Active
								- @nsc_configs.each do |nsc_config|
									%tr{:class => "#{cycle('odd', 'even')}"}
										%td
											= check_box_tag("nexpose_console_ids[]", nsc_config.id, false, {:class => 'child_checkbox'})
										%td
											= link_to(h(nsc_config.host), edit_nsc_config_path(nsc_config))
										%td
											= nsc_config.username
										%td
											= nsc_config.port
										%td
											=  nsc_config.is_active? ? 'Yes' : 'No'

							- unless @nsc_configs.empty?
								.btnRow
									%div{:class => "btn"}
										=submit_tag "Delete", :class => "delete", :confirm => "Delete selected Nexpose Consoles?"
