%div{:class => 'ticket_client_config', :id => 'jira3'}
	= render 'authentication', :parent_client => 'jira3_config'
	%dl
		%dt
			= label_tag('jira3_config_project_id', 'Project ID*', {:style => "color:red"})
		%dd
			= text_field_tag 'jira3_config[project_id]', (@jira3_ticket_client ? @jira3_ticket_client.project_id : '')

	%dl
		%dt
			= label_tag('Priority ID*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira3_config[priority_id]', (@jira3_ticket_client ? @jira3_ticket_client.priority_id : '')

	%dl
		%dt
			= label_tag('Assignee ID*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira3_config[assignee_id]', (@jira3_ticket_client ? @jira3_ticket_client.assignee_id : '')

	%dl
		%dt
			= label_tag('Default Reporter*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira3_config[default_reporter]', (@jira3_ticket_client ? @jira3_ticket_client.default_reporter : '')

	%dl
		%dt
			= label_tag('Issue Type ID*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira3_config[issue_type_id]', (@jira3_ticket_client ? @jira3_ticket_client.issue_type_id : '')

%div{:class => 'ticket_client_config', :id => 'jira4'}
	= render 'authentication', :parent_client => 'jira4_config'
	%dl
		%dt
			= label_tag('Default assignee*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira4_config[assignee]', (@jira4_ticket_client ? @jira4_ticket_client.assignee : '')
	%dl
		%dt
			= label_tag('Default reporter*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira4_config[reporter]', (@jira4_ticket_client ? @jira4_ticket_client.reporter : '')
	%dl
		%dt
			= label_tag('Issue Type ID*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira4_config[issue_id]', (@jira4_ticket_client ? @jira4_ticket_client.issue_id : '')
	%dl
		%dt
			= label_tag('Project name*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira4_config[project_name]', (@jira4_ticket_client ? @jira4_ticket_client.project_name : '')
	%dl
		%dt
			= label_tag('Default priority ID*', nil, {:style => "color:red"})
		%dd
			= text_field_tag 'jira4_config[priority_id]', (@jira4_ticket_client ? @jira4_ticket_client.priority_id : '')


%div{:class => 'ticket_client_config', :id => 'nexpose'}
	- if NscConfig.all and not NscConfig.all.empty?
		%dl
			%dt
				= label_tag 'Select NeXpose Client'
			%dd
				=collection_select :nexpose_config, :nexpose_client_id, NscConfig.all, :id, :host
		%dl
			%dt
				= label_tag 'Select default user'
			%dd
				=collection_select :nexpose_config, :nexpose_default_user, @user_list, :user_name, :user_name
	- else
		%p
			There are no configured NeXpose clients.

%div{:class => 'ticket_client_config', :id => 'soap'}
	- form_for(@ticket_config, :html => {:multipart => true}) do |soap_form|
		%fieldset
			%legend{:align => "center"}
				%b Data Import
			%dl
				%dt
					= soap_form.label 'Select WSDL file'
				%dd
					= soap_form.file_field :wsdl
				.buttons
					.btn
						= soap_form.submit 'Parse WSDL'

		- if (!@wsdl_operations.nil? && !@wsdl_operations.empty?)
			= render 'dynamic_field_info'

			%fieldset
				%legend{:align => "center"}
					%b SOAP Operation
				= label_tag 'Select the operation (Port Type|Operation):'
				= select nil, "soap_ticket_op_id", @wsdl_id_op_map, {}, {:id => "wsdl_operations"}
				%h4
					* - Required input
				- index = -1
				- @wsdl_operations.each do |port_type, headers_and_ops|
					- headers_and_ops['operations'].each do |operation, inputs|
						- index = index + 1
						- proper_op_name = port_type.to_s + "|" + operation.to_s
						%div{:id => "wsdl_op_#{index}"}
							- if inputs['headers'] && !inputs['headers'].empty?
								- headers = get_headers(inputs['headers'], @wsdl_operations[port_type]['headers'])
								%fieldset
									%legend{:align => "center"}
										%b Header Input
									- headers.each do |key, value|
										- value.each do |header_name, header_inputs|
											%fieldset
												%legend{:align => "center"}
													%b #{header_name}
												- header_inputs.each do |input|
													%dl
														%dt
															- if is_required_input?(input)
																= label_tag(input['name'] + '*' + "  #{get_input_type(input)}", nil, {:style => "color:red"})
															- else
																= label_tag(input['name']) + "  #{get_input_type(input)}"
														%dd
															= ((input['type'].instance_of? Hash) ? (select "soap_config_#{index}[#{input['name']}]", nil, input['type']['values']) : (is_sensitive_field?(input['name']) ? (password_field_tag "soap_config_#{index}[#{input['name']}]") : (text_field_tag "soap_config_#{index}[#{input['name']}]")))

							- if has_operations?(inputs)
								%fieldset
									%legend{:align => "center"}
										%b Body Input
									- inputs.each do |key, value|
										- if 'headers'.eql? key
											- next
										- value.each do |input|
											%dl
												%dt
													- if is_required_input?(input)
														= label_tag(input['name'] + '*' + "  #{get_input_type(input)}", nil, {:style => "color:red"})
													- else
														= label_tag(input['name']) + "  #{get_input_type(input)}"
												%dd
													= ((input['type'].instance_of? Hash) ? (select "soap_config_#{index}[#{input['name']}]", nil, input['type']['values']) : (is_sensitive_field?(input['name']) ? (password_field_tag "soap_config_#{index}[#{input['name']}]") : (text_field_tag "soap_config_#{index}[#{input['name']}]")))