= f.fields_for :ticket_rule do |rule_data|
	%fieldset
		%fieldset
			%legend
				%b CVSS Score
			%dl
				= rule_data.label 'CVSS Score (>=)'
				= rule_data.select :cvss_min, (1..10), {:selected => (@ticket_rules ? @ticket_rules.cvss_min : 1)}, {:id => 'cvss_score_greater_than_and_equal'}
				= rule_data.label 'CVSS Score (<=)'
				= rule_data.select :cvss_max, (1..10), {:selected => (@ticket_rules ? @ticket_rules.cvss_max : 10)}, {:id => 'cvss_score_less_than_and_equal'}
			%dl
		%fieldset
			%legend
				%b Vulnerabillity type
			%dl
				= rule_data.check_box :use_ve, {:checked => (@ticket_rules ? @ticket_rules.use_ve : true)}
				= rule_data.label "Vulnerable exploit"
			%dl
				= rule_data.check_box :use_vv, {:checked => (@ticket_rules ? @ticket_rules.use_vv : true)}
				= rule_data.label "Vulnerable version"
			%dl
				= rule_data.check_box :use_vp, {:checked => (@ticket_rules ? @ticket_rules.use_vp : true)}
				= rule_data.label "Potential vulnerablity"