!!!
%html
%head
	%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	%title nexflow
	= javascript_include_tag 'jquery-1.6.1.min'
	= javascript_include_tag 'jquery-ujs/src/rails'
	= javascript_include_tag 'prototype'
	= javascript_include_tag 'application'
	= javascript_include_tag 'effects'
	= javascript_include_tag 'livepipe'
	= javascript_include_tag 'tabs'
	= stylesheet_link_tag 'app'
	= stylesheet_link_tag 'app-scss'
	= csrf_meta_tag


%body{:id => "show", :class => "task"}

	#header
		#header-top-border
			#symbol

	= render 'generic/tabs'

	%div{:id => "main", :class => "clearfix"}
		.mainPad
			#content

				%noscript
					%p{:class => "noscript_warning"} Enable JavaScript
				.float-Rt

				%div{:id => 'crumbHolder', :class => 'clearfix'}
					%div{:id => 'breadcrumb', :class => 'clearfix'}
				%div{:id => 'pageHeader', :class => 'clearfix'}
					.topRight
						&nbsp;
					.topLeft
						&nbsp;

				.mainContent
					= yield
			#pageFooter
				.botRight &nbsp;
				.botLeft &nbsp;

	%div{:id => "footer", :class => "clearfix"}
		.productby
			%a{:href => "http://www.rapid7.com", :title => "Rapid7", :target => "_blank"}
				= image_tag "r7OpenSource.png", :size => "108x28"
		.copyright
			&copy; 2010-2011 Rapid7 LLC, Boston, MA